body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
  
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

button{
    background-color: rgb(168, 114, 219);
    width: 125px;
    padding: 5px;
    border-radius: 10px;
}

body> h1{
    text-align: center;

}

body> p{
    border: 2px solid black;
    width: 40vw;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
}